<section class="section background">
    <div class="section__title">Background</div>
    <div class="section__content">
        <p>
            I'm currently a pursuing my graduate studies in
            <a class="underline-link" href="https://www.unb.ca/fredericton/cs/" target="_blank">Computer Science</a> at the
            <a class="underline-link" href="https://www.unb.ca" target="_blank">University of New Brunswick, Fredericton, Canada.</a> Additionally, I am a Graduate Research Assistant at the
        </p>

        <p>
            Every experience has shaped and moulded me into the woman I today and the journey I am currently embarking on
        </p>

        <p>
            <strong>When I'm not in front of a computer screen</strong>, I'm probably reading, writing, journaling, knitting, exploring some good eatery, or crossing off another item on my bucket list.
        </p>

        {% include employment-status.html %}
    </div>
</section>