<section class="section background">
    <div class="section__title">Background</div>
    <div class="section__content">
        <p>
            I'm currently a pursuing my graduate studies in
            <a class="underline-link" href="https://www.unb.ca/fredericton/cs/" target="_blank">Computer Science</a> at the
            <a class="underline-link" href="https://www.unb.ca" target="_blank">University of New Brunswick, Fredericton, Canada.</a> Additionally, I am a Graduate Research Assistant at the
            <a class="underline-link" href="https://www.unb.ca/cic/" target="_blank">Canadian Institute of Cybersecurity</a>. My research interest is in Data Analysis, Machine Learning and Cybersecurity.
        </p>

        <p>
            As a graduate student, my research topic is in the area of Anomaly Detection in Internet of Things(IoT) devices. The specificity of it will follow up on
            <a class="underline-link" href="https://priscilladanso.com/" target="_blank">my blog</a>. I am extremely delighted about this topic because of its impact in a myriad of sectors.
        </p>

        <p>
            Prior to hoping unto the academic ladder, I was privileged to work with the United Nations World Food Programme as Data Analyst, interned at Ernst and Young. I also got the opportunity to work with a couple of Financial technology companies. It is worth
            noting that, every experience has shaped and moulded me into the woman I today and the journey I am currently embarking on
        </p>
        <p>
            <strong>When I'm not in front of a computer screen</strong>, I'm probably reading, journaling, knitting, exploring some good eatery, or crossing off another item on my bucket list.
        </p>

        {% include employment-status.html %}
    </div>
</section>