<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Data Scientist at
      <a class="underline-link" href="https://mesika.org/" target="_blank">Mesika Company Limited</a> analysing customer transaction data to optimize data-driven decision making.
      I'm currently taking a three month intensive Data Engineering course with
      <a class="underline-link" href="https://www.blossomacademy.co/" target="_blank">Blossom Academy</a> which has afforded me with skills like Data Warehousing, Data Mining & Web Scraping, among others
      <!--<a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a>,-->
      <!--<a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and-->
      <!--<a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>.-->
    </p>

    <p>
      As a data engineer, I enjoy bringing data in different location together to a unified location.
      To be able to collect and retrieve data from website just excites me.
      To be able to retrieve data, performing transformation and load data to a different storage location is magical.
      As a Data Scientist, what I love the most is cleaning all the mess that comes with data.
      Performing Exploratory Data Analysis is always a joy.
      <!--My goal is to always build applications that are scalable-->
      <!--and efficient under the hood while providing engaging, pixel-perfect user experiences.-->
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably knitting, exploring some good eatery,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
