<section class="section featured-projects">
  <div class="section__title">Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/priscilla100/blossom_academy_data_eng/tree/master/Project1" target="_blank">
          <img src="{{site.baseurl}}/img/featured/pandas.jfif" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/priscilla100/blossom_academy_data_eng/tree/master/Project1" target="_blank">Basic ETL Pipeline</a>
        </div>
        <p>Download data from s3 using boto3, read the file with pandas, perform some transformation, write the output in; Parquet, JSON (compressed using gzip), AVRO out companies without a domain name using pandas and upload the results back to s3.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/priscilla100/blossom_academy_data_eng/tree/master/Project2" target="_blank">
          <img src="{{site.baseurl}}/img/featured/images.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/priscilla100/blossom_academy_data_eng/tree/master/Project2" target="_blank">Batch Processing for Data Mining</a>
        </div>
        <p>Load data from s3 using boto3, read the file with PySpark, perform some transformation, visualise results, and commit code to repository.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/priscilla100/blossom_academy_data_eng/tree/master/Project3" target="_blank">
          <img src="{{site.baseurl}}/img/featured/programming_code_screen_display.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/priscilla100/blossom_academy_data_eng/tree/master/Project3" target="_blank">End-to-end ETL Pipeline</a>
        </div>
        <p>Load data using PySpark, perform some transformation, write the output into a Postgres Database and commit results to Github.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/priscilla100/blossom_academy_data_eng/tree/master/Project4" target="_blank">
          <img src="{{site.baseurl}}/img/featured/bigdata.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/priscilla100/blossom_academy_data_eng/tree/master/Project4" target="_blank">Web Scraping using BeautifulSoup</a>
        </div>
        <p>Scrape properties listed for sale, clean and store results to a csv file and commit to Github.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/priscilla100/blossom_academy_data_eng/tree/master/Project5" target="_blank">
          <img src="{{site.baseurl}}/img/featured/searchEnterpriseAI_017.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/priscilla100/blossom_academy_data_eng/tree/master/Project5" target="_blank">Data Lake Management using s3</a>
        </div>
        <p>Amazon Kinesis was used to easily to collect, process, and analyze real-time streaming data so you can get timely insights and react quickly to new information.</p>
      </figcaption>
    </div>
    <!--<div class="project screentime">-->
      <!--<figure class="project__pic phones">-->
        <!--<a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">-->
          <!--<div class="phone">-->
            <!--<img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">-->
          <!--</div>-->
          <!--<div class="phone">-->
            <!--<img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt="">-->
          <!--</div>-->
          <!--<div class="phone">-->
            <!--<img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt="">-->
          <!--</div>-->
        <!--</a>-->
      <!--</figure>-->
      <!--<figcaption class="project__caption">-->
        <!--<div class="project__name">-->
          <!--<a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">ScreenTime 2.0</a>-->
        <!--</div>-->
        <!--<p>Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even-->
          <!--create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>-->
      <!--</figcaption>-->
    <!--</div>-->

    <!--<div class="project interventions">-->
      <!--<figure class="project__pic">-->
        <!--<a href="https://interventions.design/" target="_blank">-->
          <!--<img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">-->
        <!--</a>-->
      <!--</figure>-->
      <!--<figcaption class="project__caption">-->
        <!--<div class="project__name">-->
          <!--<a href="https://interventions.design/" target="_blank">Interventions</a>-->
        <!--</div>-->
        <!--<p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.</p>-->
      <!--</figcaption>-->
    <!--</div>-->
  </div>
</section>
